  CREATE DATABASE QLSV
  USE QLSV 
  
  CREATE TABLE CT_Daotao
(
MaCTDT varchar(10)NOT NULL,
TenCTDT nvarchar(50)
)

CREATE TABLE KhoaHoc
(
MaKH varchar(10)NOT NULL,
 MaCTDT varchar(10),
 TenKH nvarchar(50),
 )
 
CREATE TABLE Lop
(
 MaLop varchar(10)NOT NULL,
 MaKH varchar(10),
 TenLop nvarchar(50),
 )
 
 CREATE TABLE MonHoc
 (
  MaMH varchar(10) NOT NULL,
  TenMH nvarchar(50),
 )

CREATE TABLE SinhVien
(
MaSV varchar(10)NOT NULL,
HoTen nvarchar(50),
GioiTinh nvarchar(3),
NgaySinh datetime,
NoiSinh nvarchar(10),
MaLop varchar(10),
)

CREATE TABLE KetQuaThi
(MaSv varchar(10)NOT NULL,
MaMH varchar(10)NOT NULL,
LanThi int NOT NULL,
DiemThi float,
)

SELECT *
FROM CT_Daotao
SELECT *
FROM KhoaHoc
SELECT *
FROM Lop
SELECT *
FROM MonHoc
SELECT *
FROM SinhVien
SELECT *
FROM KetQuaThi

--cai dat RBTV khoa chinh
ALTER TABLE CT_DaoTao  ADD CONSTRAINT PK_MaCTDT PRIMARY KEY(MaCTDT)
ALTER TABLE KhoaHoc    ADD CONSTRAINT PK_KhoaHoc PRIMARY KEY(MaKH)
ALTER TABLE Lop        ADD CONSTRAINT PK_Lop PRIMARY KEY(MaLop)
ALTER TABLE MonHoc ADD CONSTRAINT PK_MonHoc PRIMARY KEY(MaMH)
ALTER TABLE SinhVien ADD CONSTRAINT PK_SinhVien PRIMARY KEY(MaSV)
ALTER TABLE KetQuaThi ADD CONSTRAINT PK_KetQuaThi PRIMARY KEY(MaSV,MaMH,LanThi)

--KIEM TRA RBTV KHOÁ CHÍNH
SP_PKEYS CT_DAOTAO
SP_PKEYS KhoaHoc
SP_PKEYS Lop
SP_PKEYS MonHoc
SP_PKEYS SinhVien
SP_PKEYS KetQuaThi


--CAI DAT RBTV KHOÁ NGOẠI
ALTER TABLE KhoaHoc   ADD CONSTRAINT FK_KhoaHoc_MaCTDT   FOREIGN KEY(MaCTDT) REFERENCES CT_DaoTao(MaCTDT) 
ALTER TABLE Lop       ADD CONSTRAINT FK_Lop_MaKH       FOREIGN KEY(MaKH)   REFERENCES KhoaHoc(MaKH) 
ALTER TABLE SinhVien  ADD CONSTRAINT FK_SinhVien_MaLop FOREIGN KEY(MaLop)  REFERENCES Lop(MaLop) 
ALTER TABLE KetQuaThi ADD CONSTRAINT FK_KetQuaThi_MaSV FOREIGN KEY(MaSV)   REFERENCES SinhVien(MaSV) 
ALTER TABLE KetQuaThi ADD CONSTRAINT FK_KetQuaThi_MaMH FOREIGN KEY(MaMH)   REFERENCES MonHoc(MaMH) 